*{
    margin: 0 ;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh ;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}
.todo-app{
    margin:auto;
    max-width: 540px;
    align-items: center;
    background-color: aliceblue;
    padding:  30px;
    border-radius: 10px;
    margin-top: 30px;
    
}

.todo-app h2{
    font-family: sans-serif;
    color: #002765;
    display: flex;
   align-content: center;
   margin-bottom: 20px;
   
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding:10px;
    font-weight: 10px;

}
button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #e47023;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;


}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px  8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height : 21px;
    width: 21px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 12px;
    
    

}
ul li.checked{
    color:#555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:22px ;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;


}
ul li span:hover{
    background-color: #f7861d;
}